.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;

  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
}

/* LEFT SIDE */

.left-panel {
  width: 45%;
  padding: 60px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

/* RIGHT SIDE */

.right-panel {
  width: 55%;
  padding: 60px;
  overflow-y: auto;
}

/* Title */

.app-title {
  font-size: 42px;
  margin-bottom: 10px;
}

.app-title span {
  background: linear-gradient(90deg, #06b6d4, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 40px;
}

/* Placeholder */

.placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #94a3b8;
  text-align: center;
}

.brain {
  font-size: 60px;
  margin-bottom: 20px;
}
